O.*/
/db
/bin
/dbd
/include
/lib
/templates
envPaths
cdCommands
dllPath.bat
runIOC.bat
runIOC.sh
relPaths.sh
.project
*.idb
/curl-src/builds/
/curl-src/winbuild/LIBCURL_OBJS.inc
/curl-src/winbuild/CURL_OBJS.inc
