O.*/
/db
/bin
/dbd
/include
/lib
/templates
/install/
envPaths
cdCommands
dllPath.bat
runIOC.bat
runIOC.sh
relPaths.sh
.project
*.idb
/curl-src/builds/
/curl-src/winbuild/LIBCURL_OBJS.inc
/curl-src/winbuild/CURL_OBJS.inc
*.obj
*.o
*.lo
.deps/
config.log
config.status
